<section class="disney" id="disney">
  <div class="grid-container">
    <div class="content-area grid-x">
      <div class="mickey-image cell medium-7"></div>
      <div class="text-area cell medium-5 grid-x">
        <div class="cell logo-container">
          <img src="/img/wdas-logo.svg" alt="Walt Disney Animation Studios Logo">
        </div>
        <div class="cell">
          <p>I joined the team at Walt Disney Animation Studios in <i class="fas fa-location-arrow"></i> Los Angeles, California.</p>
          <p>I help design and build all sorts of wonderful software tools that the artists and animators use everyday to bring our films to life. You might start seeing a familiar name in the credits 😉</p>
        </div>
      </div>
    </div>
  </div>
</section>