<section class="driving grid-container" id="driving">
  <div class="grid-x">
    <div class="cell content-area">
      <div class="light-line-1"></div>
      <div class="light-line-2"></div>
      <div class="light-line-3"></div>
      <div class="light-line-4"></div>
      <div class="light-line-5"></div>
      <div class="line-1"></div>
      <div class="line-2"></div>
      <div class="line-3"></div>
      <div class="line-4"></div>
      <div class="line-5"></div>
      <div class="sign-wrapper">
        <div class="sign">
          <div class="border">
            <div class="direction">
              <div class="shield">
                <img src="/img/shield.svg" alt="Shield">
                <span>95</span>
              </div>
              <span>north</span>
            </div>
            <p>Philadelphia</p>
            <div class="arrows">
              <i class="fas fa-arrow-down"></i>
              <i class="fas fa-arrow-down"></i>
              <i class="fas fa-arrow-down"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="miles-text">
        <h2>8000mi <span>driven</span></h2>
        <img src="/img/nav-marker.svg" alt="Navigation Marker">
      </div>
      <div class="steering-wheel">
        <img src="/img/steering-wheel3.png" alt="Steering Wheel">
        <!-- TODO replace image with better image -->
      </div>
      <div class="sign-wrapper-2">
        <div class="sign sign-exit">
          <div class="border">
            <div class="direction">
              <i class="fas fa-shield"></i>
              <span>west</span>
            </div>
            <p>Pittsburgh</p>
          </div>
          <div class="exit-only">
            <div class="border">
              <span>exit</span>
              <i class="fas fa-arrow-down"></i>
              <span>only</span>
            </div>
          </div>
        </div>
      </div>
      <div class="sign-wrapper-3">
        <div class="sign">
          <div class="border">
            <div class="direction">
              <div class="shield">
                <img src="/img/shield.svg" alt="Shield">
                {% capture location %}shield{% endcapture %}
                {% include mickey.svg %}
              </div>
              <span>north</span>
            </div>
            <p>New York City</p>
            <div class="arrows">
              <i class="fas fa-arrow-down"></i>
              <i class="fas fa-arrow-down"></i>
              <i class="fas fa-arrow-down"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="sign-wrapper-4">
        <div class="sign sign-exit">
          <div class="border">
            <div class="direction">
              <i class="fas fa-shield"></i>
              <span>east</span>
            </div>
            <p>Washington D.C.</p>
          </div>
          <div class="exit-only">
            <div class="border">
              <span>exit</span>
              <i class="fas fa-arrow-down"></i>
              <span>only</span>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</section> 