<section class="events" id="events">
  <div class="grid-container">
    <div class="content-area">
      <div class="grid-x align-center text-container">
        <div class="cell">
          <h2>Here. There. Knowledge everywhere.</h2>
        </div>
        <div class="cell medium-8">
          <p>Attended several industry events this year, learning lots of new things along the way.</p>
        </div>
      </div>
      <div class="logo-container logo-slider">
        <div class="slide-track">
          <div class="slide">
            <img class="ces" src="/img/ces-logo.svg" alt="CES Logo">
          </div>
          <div class="slide">
            <img src="/img/ixda-logo.svg" alt="IXDA Logo">
          </div>
          <div class="slide leadership-design">
            <img src="/img/leadership-design-logo.svg" alt="Leadership by Design Logo">
          </div>
          <div class="slide">
            <img src="/img/chicagocamps-logo.svg" alt="Chicago Camps Logo">
          </div>
          <div class="slide">
            <img src="/img/outlier-logo.svg" alt="Outlier Data Viz Logo">
          </div>
          <div class="slide">
            <img src="/img/productcamp-logo.svg" alt="Product Camp Pittsburgh Logo">
          </div>
          <div class="slide">
            <img src="/img/clarity-logo.svg" alt="Clarity Conference Logo">
          </div>
          <div class="slide">
            <img class="ces" src="/img/ces-logo.svg" alt="CES Logo">
          </div>
          <div class="slide">
            <img src="/img/ixda-logo.svg" alt="IXDA Logo">
          </div>
          <div class="slide leadership-design">
            <img src="/img/leadership-design-logo.svg" alt="Leadership by Design Logo">
          </div>
          <div class="slide">
            <img src="/img/chicagocamps-logo.svg" alt="Chicago Camps Logo">
          </div>
          <div class="slide">
            <img src="/img/outlier-logo.svg" alt="Outlier Data Viz Logo">
          </div>
          <div class="slide">
            <img src="/img/productcamp-logo.svg" alt="Product Camp Pittsburgh Logo">
          </div>
          <div class="slide">
            <img src="/img/clarity-logo.svg" alt="Clarity Conference Logo">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
