<section class="farewell" id="farewell">
  <div class="grid-container">
    <div class="content-area grid-x">

      {%- include bite-marks.svg -%}
      <img src="/img/chocolate-bits.svg" alt="chocolate bits" class="chocolate-bits">
      <div class="golden-ticket grid-x">
        <div class="cell grid-x align-middle">
          <div class="text-line cell auto"></div>
          <p class="cell shrink line-text">Safar</p>
          <div class="text-line cell auto"></div>
        </div>
        <div class="cell grid-x">
          <p class="cell main-title">Golden Easter Egg</p>
          <div class="text-line cell"></div>
        </div>
        <div class="cell main-text">
          <p>Look forward to continued success for the team!</p>
          <p>Wondering why this section is a chocolate bar? Well that's an inside joke. You will have to get to know the team at UPMC Enterprises to find out. 😉</p>
        </div>
      </div>
      <div class="chocolate-wrapper cell small-12 medium-10 grid-x">
        <div class="wrapper-edge">
          <img src="/img/wrapper-edge.svg" alt="The silver metallic edge of a chocolate wrapper">
        </div>
        <div class="intro-copy cell medium-9">
          <h2>
            Farewell
            <span>Pittsburgh since 2012</span>
          </h2>
          <p>After a decade in Pittsburgh, I said goodbye to the city. During the last 10 years, I made some  <span class="friends">wonderful friends,</span> learned a whole lot and had a lot of fun along the way! Here are a couple big wins during my last 4 years in healthcare at UPMC Enterprises.</p>
        </div>
        <div class="big-wins cell grid-x">
          <div class="cell shrink badge-wrapper">
            <img class="badge-sticker" src="/img/badge.svg" alt="A yellow badge with a trophy icon and text that says Big Wins 2018 - 2022 at UPMC Enterprises">
          </div>
          <div class="cell medium-7 grid-x win-list">
            <div class="cell small-10 medium-6 grid-x align-middle grid-padding-x win-item">
              <div class="icon-wrapper cell shrink grid-x align-center align-middle">
                <div class="cell shrink">
                  <i class="fas fa-arrow-up"></i>
                </div>
              </div>
              <div class="cell auto win-words">
                Elevated the UX maturity of the organization
              </div>
            </div>
            <div class="cell small-10 medium-6 grid-x align-middle grid-padding-x win-item">
              <div class="icon-wrapper cell shrink grid-x align-center align-middle">
                <div class="cell shrink">
                  <i class="fas fa-window-restore"></i>
                </div>
              </div>
              <div class="cell auto win-words">
                Brought consumer sensibilities to enterprise software
              </div>
            </div>
            <div class="cell small-10 medium-6 grid-x align-middle grid-padding-x win-item">
              <div class="icon-wrapper cell shrink grid-x align-center align-middle">
                <div class="cell shrink">
                  <i class="fas fa-ship"></i>
                </div>
              </div>
              <div class="cell auto win-words">
                Shipped life-changing technology
              </div>
            </div>
            <div class="cell small-10 medium-6 grid-x align-middle grid-padding-x win-item">
              <div class="icon-wrapper cell shrink grid-x align-center align-middle">
                <div class="cell shrink">
                  <i class="fas fa-sort-amount-up"></i>
                </div>
              </div>
              <div class="cell auto win-words">
                Grew the design organization and its services
              </div>
            </div>
          </div>
        </div>
        <div class="bar-footer cell grid-x">
          <div class="cell shrink">
            Milk Chocolate
          </div>
          <div class="cell shrink details">
            ・ <span class="edition">Enterprise Edition</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>