<section class="favorite-things" id="favorite-things">
  <div class="grid-container">
    <div class="grid-x">
      <div class="cell small-10 grid-x row-pill first-pill align-justify">
        <div class="text-pill cell grid-x shrink align-middle">
          <div class="text-content cell">
            <h3>2023</h3>
            <h2>Favorite</h2>
          </div>
        </div>
        <div class="cell shrink grid-x">
          <div class="thing-container cell">
            mouse
          </div>
          <div class="thing-container cell">
            book
          </div>
        </div>
      </div>
      <div class="cell grid-x align-center text-row">
        <div class="cell medium-6">
          <p>
            Taking a page out of {%- include external-link.html link="" content="Tested's book" css-class="" -%}, here are a few of my favorite things from the past year
          </p>
          <!-- TODO weird spacing with this link -->
        </div>
      </div>
      <div class="cell small-10 medium-offset-2 grid-x row-pill second-pill">
        <div class="cell grid-x align-justify fake-border">
          <div class="cell shrink grid-x">
            <div class="thing-container cell">
              mouse
            </div>
            <div class="thing-container cell">
              book
            </div>
            <div class="thing-container cell">
              book
            </div>
          </div>
          <div class="text-pill cell grid-x shrink align-middle">
            <div class="text-content cell">
              <h2>Things</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>