<section class="flights" id="flights">
  <div class="grid-container">
    <div class="grid-x">
      <div class="cell grid-x content-area">

        <div class="cell grid-x title-area align-justify align-middle">
          <div class="cell shrink">
            <h2>flight log</h2>
          </div>
          <div class="cell shrink">
            <i class="fas fa-plane"></i>
          </div>
        </div>
        <div class="grid-x cell data-area align-right">
          <div class="grid-x cell align-right border-bottom">
            <div class="cell small-6 medium-shrink lockup-big">
              <p class="text-top">miles</p>
              <p class="number-big">45,161</p>
              <p class="text-bottom">1.8x around the world</p>
            </div>
            <div class="cell small-6 medium-shrink lockup-big border-left">
              <p class="text-top">flights</p>
              <p class="number-big">16</p>
              <p class="text-bottom">6 long haul</p>
            </div>
          </div>


          <div class="grid-x cell">
            {% assign location-list = "(iad|Washington DC|USA),(doh|Doha|Qatar),(dxb|Dubai|UAE),(lhr|London|UK),(lgw|London|UK),(agp|Malaga|Spain),(CMN|Casablanca|Morocco),(BWI|Baltimore|USA),(MCO|Orlando|USA),(lax|Los Angeles|USA),(AMN|Amman|Jordan)" | remove: "(" | remove: ")" | split: ',' %}
            {% for item in location-list %}
            {% assign each = item | split: '|' %}
            <div class="grid-x cell airport-row align-right">
              <div class="cell grid-x medium-3">
                <div class="cell small-2">
                  <p class="short-code">{{each[0]}}</p>
                </div>
                <div class="cell auto grid-x location-subrow align-justify">
                  <div class="cell shrink">
                    <p>{{each[1]}}</p>
                  </div>
                  <div class="cell shrink">
                    <p>{{each[2]}}</p>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>

          <div class="grid-x cell align-right border-top">
            <div class="cell lockup-medium shrink">
              <p class="text-top">airports</p>
              <p class="number-big"><i class="fas fa-plane"></i> 11</p>
            </div>
            <div class="cell lockup-medium shrink border-left">
              <p class="text-top">countries</p>
              <p class="number-big"><i class="fas fa-globe"></i> 7</p>
            </div>
            <div class="cell lockup-medium auto medium-shrink border-left">
              <p class="text-top">flight time</p>
              <p class="number-big"><i class="fas fa-clock"></i> 3d 22h</p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>