<section class="flowstate" id="flowstate">
  <div class="grid-container">
    <div class="grid-x content-area">
      <img class="background-shapes" src="../img/flowstate-shapes.png" alt="">
      <div class="text-area cell medium-4">
        <i class="fas fa-rocket"></i>
        <h2>Launched Flowstate</h2>
        <p>A design tool, that helps you explore interaction details and workflows from a whole set of products out in the world.</p>
        {%- include external-link.html css-class="flowstate-link" link="https://flowstate.rehanbutt.com" content="Explore Flowstate" -%}
      </div>
      <div class="image-area cell medium-8">
        <img src="../img/flowstate-screenshot.jpg" alt="Screenshot of Flowstate home page">
      </div>
    </div>
  </div>
</section>