<section class="lastly" id="lastly">
  <div class="grid-container">
    <div class="grid-x">
      <div class="card cell grid-x">
        <div class="cell color-field grid-x">
          <div class="cell auto align-center grid-y">
            <div class="cell">
              <h2>as the year wraps up</h2>
            </div>
          </div>
          <h3>let's take a moment to celebrate our achievements and look forward to the new year with excitement and anticipation. Be ready to take on whatever challenges come our way and continue growing and learning!</h3>
        </div>
        <div class="grid-x cell polaroid-chin align-justify">
          <div class="cell small-12 medium-shrink hidden-mickey">
            <p class="question">Did you find all the hidden Mickey's on the page?</p>
            <p>There are 5. Happy hunting!</p>
          </div>
          <div class="grid-x cell small-12 medium-shrink share-area align-middle">
            <div class="cell shrink words">
              <p class="enjoyed">Enjoyed my year in review?</p>
              <p>Share it with your network.</p>
            </div>
            <div class="grid-x cell shrink">
              <div class="cell shrink">
                <!-- TODO should be using External Link Includes -->
                <a href="https://twitter.com/intent/tweet?text=Check%20out%20%40naher94%20awesome%20year%20in%20review!&amp;url={{ site.url }}/" class="twitter" target="_blank">
                  <div class="share-item">
                    <i class="fab fa-twitter" aria-hidden="true"></i>
                  </div>
                </a>
              </div>
              <div class="cell shrink">
                <!-- TODO should be using External Link Includes -->
                <a href="http://www.linkedin.com/shareArticle?mini=true&url={{site.url}}" target="_blank">
                  <div class="share-item">
                    <i class="fab fa-linkedin" aria-hidden="true"></i>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
