{% assign skills-list = "Design Ops,Product Management,Systems Design,Mentoring,Process Design,Remote Research,Team Manangement,UX Writing,Data Analysis, Discovery Research, Product Development" | split: ',' %}

<section class="leveled-up grid-container" id="skills">
  <div class="grid-x">
    <div class="grid-x cell medium-auto bundle-container">
      <div class="balloon-container cell grid-x align-center">
        {%- include balloon-bundle.svg -%}
        <!-- TODO dark mode the image -->
        <!-- TODO Update the skills in the bubbles -->
      </div>
      <div class="cell grid-x align-center text-container">
        <div class="cell shrink">
          <h2><span>leveled</span>up</h2>
        </div>
      </div>
    </div>
    <div class="grid-x text-container cell small-12 medium-4 align-middle">
      <p>Continued to level up my skills and acquired some new ones this year.</p>
    </div>
  </div>
</section>
