{% assign movie-list = "Spider-Man No Way Home, No Time to Die, Strange World, Thor: Love and Thunder, Turning Red" | split: ',' %}

<section class="movies" id="movies">
  <div class="grid-container">
    <div class="grid-x content-area">
      <div class="overhang cell grid-x">
        <div class="grid-x cell title-container">
          <div class="grid-x cell">
            <div class="cell">
              <h2>film log</h2>
            </div>
            <div class="cell title2">
              <h3>Top Picks <span>2023</span></h3>
            </div>
          </div>
        </div>
        <div class="top-picks grid-x cell align-center">
          <div class="poster-container grid-x cell shrink align-middle">
            <div class="cell shrink poster-box small-order-3">
              <div class="poster grid-x cell">
                <div class="cell grid-x align-center small-order-2">
                  <div class="number cell">
                    <p>1</p>
                  </div>
                </div>
                <img src="/img/movie-yesterday.jpg" alt="Spider-Man No Way Home Poster">
              </div>
            </div>
            <div class="cell shrink poster-box small-order-2">
              <div class="poster grid-x cell">
                <div class="cell grid-x align-center small-order-2">
                  <div class="number cell">
                    <p>2</p>
                  </div>
                </div>
                <img src="/img/movie-yesterday.jpg" alt="James Bond: No Time to Die Poster">
              </div>
            </div>
            <div class="cell shrink poster-box small-order-4">
              <div class="poster grid-x cell">
                <div class="cell grid-x align-center small-order-2">
                  <div class="number cell">
                    <p>3</p>
                  </div>
                </div>
                <img src="/img/movie-yesterday.jpg" alt="Disney's Strange World Poster">
              </div>
            </div>
            <div class="cell shrink poster-box small-order-1">
              <div class="poster grid-x cell">
                <div class="cell grid-x align-center small-order-2">
                  <div class="number cell">
                    <p>4</p>
                  </div>
                </div>
                <img src="/img/movie-yesterday.jpg" alt="Disney's Strange World Poster">
              </div>
            </div>
            <div class="cell shrink poster-box small-order-5">
              <div class="poster grid-x cell">
                <div class="cell grid-x align-center small-order-2">
                  <div class="number cell">
                    <p>5</p>
                  </div>
                </div>
                <img src="/img/movie-yesterday.jpg" alt="Disney's Strange World Poster">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="divider-container grid-x cell align-center">
        <div class="cell shrink">
          <div class="divider-line"></div>
        </div>
      </div>
      <div class="stats-container grid-x cell">
        <div class="total-watched cell small-4">
          <div class="text-container">
            <p>watched</p>
            <p class="number">120</p> 
            <p>featured films</p>
            <p class="sub-description"><i class="fas fa-history"></i> 49% were rewatches</p>
          </div>
        </div>
        <div class="busy-day cell small-4">
          <div class="text-container">
            <p>Saturday</p>
            <p class="number">Jun 18th</p> 
            <p>was the busiest watch day with 6 movies</p>
          </div>
          <div class="average grid-x align-middle align-center">
            <div class="monthly grid-x align-middle align-center">
              {% capture name %}8{% endcapture %}
              {% include popcorn.svg %}
              <div class="popcorn-text-container cell shrink grid-x align-center align-middle">
                <p class="number cell shrink">10</p>
                <p class="description cell small-4">monthly average</p>
              </div>
            </div>
            <div class="daily grid-x align-middle align-center">
              {% capture name %}9{% endcapture %}
              {% include popcorn.svg %}
              <div class="popcorn-text-container cell shrink grid-x align-center align-middle">
                <p class="number cell shrink">4</p>
                <p class="description cell small-5">weekly average</p>
              </div>
            </div>
          </div>
        </div>
        <div class="first-watch cell small-4">
          <div class="text-container">
            <p class="number">Yesterday</p> 
            <p>1st watched</p>
          </div>
          <div class="poster">
            <img src="/img/movie-yesterday.jpg" alt="Yesterday Poster">
          </div>
        </div>

      </div>
    </div>
  </div>
</section>