<section class="photo grid-container" id="photo">
  <div class="grid-x cell content-card">
    <div class="horizontal-scroll-section">
      <div class="scene">
        <div class="horizontal-scroll-section__content-wrapper wrapper">
          <div class="horizontal-scroll-section__content-section">
          </div>
          <div class="horizontal-scroll-section__content-section departing">
            <div class="slide-panel now-departing grid-x cell align-middle">
              <div class="grid-x cell align-center">
                <div class="cell title-text">
                  <i class="fas fa-plane-departure"></i>
                  <h2>Now Departing</h2>
                </div>
                <div class="cell grid-x flipboard grid-margin-x grid-margin-y">
                  <div class="cell small-6 flip-item">
                    <p class="flip-label">to</p>
                    <p class="flip-value">photo city</p>
                  </div>
                  <div class="cell small-6 flip-item">
                    <p class="flip-label">flight</p>
                    <p class="flip-value">AZ 0907</p>
                  </div>
                  <div class="cell small-4 flip-item">
                    <p class="flip-label">time</p>
                    <p class="flip-value">10:45</p>
                  </div>
                  <div class="cell small-4 flip-item">
                    <p class="flip-label">gate</p>
                    <p class="flip-value">r16</p>
                  </div>
                  <div class="cell small-4 flip-item">
                    <p class="flip-label">remark</p>
                    <p class="flip-value">on time</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- title,city,country,class name or inject aspect ratio,image file, alt text -->
          {% assign photo-list = "
          (Airport Security|Doha|Qatar|1/1|airport-security.jpg
          |A photo of a black and yellow checkered SUV on the tarmac of an airport),
          (Morocco Pavilion|Dubai|UAE|900/601|morocco-pavilion.jpg
          |A abstract photo of the Morocco pavilion at the World Expo),
          (China Pavilion|Dubai|UAE|360/257|china-pavilion.jpg
          |A photo of China's World Expo pavilion at night),
          (Future Museum|Dubai|UAE|1800/1201|future-museum.jpg
          |A black & white photo of the building of Dubai's Future Museum),
          (Al Wasl Plaza|Dubai|UAE|900/601|expo.jpg
          |A abstract photo of the dome of Al Wasl Plaza at the Dubai World Expo),
          (Birdy|Dubai|UAE|1201/1800|bird.jpg
          |A evening photo of costumed bird character),
          (Graffiti|Malaga|Spain|1/1|graffiti-door.jpg
          |A photo of exterior doorway covered in graffiti),
          (Catedral de Málaga|Malaga|Spain|900/601|catedral-malaga.jpg
          |A photo of rooftop and spire of the Catedral de Málaga),
          (Epcot|Orlando|US|4/3|epcot.jpg
          |A abstract photo of Epcot's Spaceship Earth),
          (Fossil Fueler|Orlando|US|4/3|fossil-fueler.jpg
          |A evening photo of Dino Land's Fossil Fueler)

          " | remove: "(" | remove: ")" | split: ',' %}
          {% for item in photo-list %}
          {% assign each = item | split: '|' %}
          <div class="horizontal-scroll-section__content-section">
            <div class="slide-panel plane-window grid-x cell align-center align-middle">
              <div class="window-shade grid-x align-middle align-center">
                <div class="cell">
                  {%- assign isDisney = each[0] | strip -%}
                  {%- if isDisney == "Epcot" -%}
                    {% capture location %}epcot{% endcapture %}
                    {% include mickey.svg %}
                  {%- endif -%}
                  <p class="photo-title">{{each[0] | strip}}</p>
                  <p class="photo-location">{{each[1]}}, {{each[2]}}</p>
                </div>
              </div>
              <div class="window-glass" style="aspect-ratio: {{each[3]}};">
                <img src="/img/photos/{{each[4]}}" alt="{{each[5]}}">
              </div>
            </div>
          </div>
          {% endfor %}
          <div class="horizontal-scroll-section__content-section arriving">
            <div class="slide-panel now-arriving grid-x cell align-middle">
              <div class="grid-x cell align-center">
                <div class="cell title-text">
                  <i class="fas fa-plane-arrival"></i>
                  <h2>Now Arriving</h2>
                </div>
                <div class="cell grid-x flipboard grid-margin-x grid-margin-y">
                  <div class="cell flip-item">
                    <p class="flip-label">remark</p>
                    <p class="flip-value">Hope you enjoyed the flight. See you again next time!</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="horizontal-scroll-section__content-section">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>