<section class="travel" id="travel">
  <div class="grid-container">
    <div class="grid-x">
      <div class="cell grid-x content-area">

        <div class="cell grid-x page">
          <div class="cell grid-x title-area align-middle">
            <div class="cell small-6">
              <h2>travel log</h2>
            </div>
            <div class="cell small-6">
              <h2>2023</h2>
            </div>
          </div>
          <div class="cell stamp-area">
            <div class="stamp stamp-dc">
              <img src="/img/stamps/stamp-dc.svg" alt="Illustrative stamp of the Capitol building in Washington DC">
            </div>
            <div class="stamp stamp-chicago">
              <img src="/img/stamps/stamp-chicago.svg" alt="Illustrative stamp for Chicago with the Bean, Hancock Tower and Willis Tower">
            </div>
            <div class="stamp stamp-la">
              <img src="/img/stamps/stamp-la.svg" alt="Illustrative stamp for Los Angeles with palm trees">
            </div>
            <div class="stamp stamp-nyc">
              <img src="/img/stamps/stamp-nyc.svg" alt="Illustrative stamp for New York City with the Statue of Liberty">
            </div>
            <div class="stamp stamp-pittsburgh">
              <img src="/img/stamps/stamp-pittsburgh.svg" alt="Illustrative stamp for Pittsburgh with a bridge">
            </div> 
            <div class="stamp stamp-colmar">
              <img src="/img/stamps/stamp-colmar.svg" alt="Illustrative stamp for Colmar with a stork">
            </div>
            <div class="stamp stamp-schwangau">
              <img src="/img/stamps/stamp-schwangau.svg" alt="Illustrative stamp for Schwangau with Neuschwanstein castle">
            </div>
            <div class="stamp stamp-montreux">
              <img src="/img/stamps/stamp-montreux.svg" alt="Illustrative stamp for Montreux with Lake Geneva">
            </div>
            <div class="stamp stamp-zurich">
              <img src="/img/stamps/stamp-zurich.svg" alt="Illustrative stamp for Zurich">
            </div>
            <div class="stamp stamp-doha">
              <img src="/img/stamps/stamp-doha.svg" alt="Illustrative stamp for Doha with an Onyx">
            </div>
          </div>
          <div class="divider grid-x cell align-justify">
            <div class="cell shrink"><i class="fas fa-plane"></i></div>
            <div class="cell shrink"><i class="fas fa-plane"></i></div>
            <div class="cell shrink"><i class="fas fa-plane"></i></div>
            <div class="cell shrink"><i class="fas fa-plane"></i></div>
            <div class="cell shrink"><i class="fas fa-plane"></i></div>
            <div class="cell shrink"><i class="fas fa-plane"></i></div>
            <div class="cell shrink"><i class="fas fa-plane"></i></div>
            <div class="cell shrink"><i class="fas fa-plane"></i></div>
            <div class="cell shrink"><i class="fas fa-plane"></i></div>
            <div class="cell shrink"><i class="fas fa-plane"></i></div>
            <div class="cell shrink"><i class="fas fa-plane"></i></div>
            <div class="cell shrink"><i class="fas fa-plane"></i></div>
            <div class="cell shrink"><i class="fas fa-plane"></i></div>
          </div>
          <div class="grid-x cell data-area">
            <div class="grid-x cell align-justify">
              <div class="cell small-6 medium-shrink lockup-big">
                <p class="text-top">miles</p>
                <p class="number-big">45,161</p>
                <p class="text-bottom">1.8x around the world</p>
              </div>
              <div class="cell small-6 medium-shrink lockup-big">
                <p class="text-top">flights</p>
                <p class="number-big">16</p>
                <p class="text-bottom">6 long haul</p>
              </div>
              <div class="cell lockup-big shrink">
                <p class="text-top">airports</p>
                <p class="number-big"><i class="fas fa-plane"></i> 11</p>
              </div>
              <div class="cell lockup-big shrink">
                <p class="text-top">countries</p>
                <p class="number-big"><i class="fas fa-globe"></i> 7</p>
              </div>
              <div class="cell lockup-big auto medium-shrink">
                <p class="text-top">flight time</p>
                <p class="number-big"><i class="fas fa-clock"></i> 3d 22h</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>