<section class="travel" id="travel">
  <div class="grid-container">
    <div class="grid-x">
      <div class="cell grid-x content-area">

        <div class="cell grid-x page">
          <div class="cell grid-x title-area align-justify align-middle">
            <div class="cell shrink">
              <h2>travel log</h2>
            </div>
            <div class="cell shrink">
              <h2>2023</h2>
            </div>
          </div>
          <div class="cell stamp-area">
            stamp area
          </div>
          <div class="divider grid-x cell align-justify">
            <div class="cell shrink"><i class="fas fa-plane"></i></div>
            <div class="cell shrink"><i class="fas fa-plane"></i></div>
            <div class="cell shrink"><i class="fas fa-plane"></i></div>
            <div class="cell shrink"><i class="fas fa-plane"></i></div>
            <div class="cell shrink"><i class="fas fa-plane"></i></div>
            <div class="cell shrink"><i class="fas fa-plane"></i></div>
            <div class="cell shrink"><i class="fas fa-plane"></i></div>
            <div class="cell shrink"><i class="fas fa-plane"></i></div>
          </div>
          <div class="grid-x cell data-area">
            <div class="grid-x cell">
              <div class="cell small-6 medium-shrink lockup-big">
                <p class="text-top">miles</p>
                <p class="number-big">45,161</p>
                <p class="text-bottom">1.8x around the world</p>
              </div>
              <div class="cell small-6 medium-shrink lockup-big">
                <p class="text-top">flights</p>
                <p class="number-big">16</p>
                <p class="text-bottom">6 long haul</p>
              </div>
              <div class="cell lockup-medium shrink">
                <p class="text-top">airports</p>
                <p class="number-big"><i class="fas fa-plane"></i> 11</p>
              </div>
              <div class="cell lockup-medium shrink">
                <p class="text-top">countries</p>
                <p class="number-big"><i class="fas fa-globe"></i> 7</p>
              </div>
              <div class="cell lockup-medium auto medium-shrink">
                <p class="text-top">flight time</p>
                <p class="number-big"><i class="fas fa-clock"></i> 3d 22h</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>