<section class="travel" id="travel">
  <div class="grid-container">
    <div class="grid-x">
      <div class="cell grid-x content-area">

        <div class="cell grid-x page">
          <div class="cell grid-x title-area align-middle">
            <div class="cell medium-6">
              <h2>travel log</h2>
            </div>
            <div class="cell medium-6">
              <h2>2023</h2>
            </div>
          </div>
          <div class="cell stamp-area">
            <div class="stamp stamp-dc">
              {% include stamp-dc.svg %}
            </div>
            <div class="stamp stamp-chicago">
              {% include stamp-chicago.svg %}
            </div>
            <div class="stamp stamp-la">
              {% include stamp-la.svg %}
            </div>
            <div class="stamp stamp-nyc">
              {% include stamp-nyc.svg %}
            </div>
            <div class="stamp stamp-pittsburgh">
              {% include stamp-pittsburgh.svg %}
            </div> 
            <div class="stamp stamp-colmar">
              {% include stamp-colmar.svg %}
            </div>
            <div class="stamp stamp-schwangau">
              {% include stamp-schwangau.svg %}
            </div>
            <div class="stamp stamp-montreux">
              {% include stamp-montreux.svg %}
            </div>
            <div class="stamp stamp-zurich">
              {% include stamp-zurich.svg %}
            </div>
            <div class="stamp stamp-doha">
              {% include stamp-doha.svg %}
            </div>
            <div class="stamp stamp-abu-dhabi">
              {% include stamp-abu-dhabi.svg %}
            </div>
            <div class="stamp stamp-istanbul">
              <!-- TODO add Turkey Stamp -->
            </div>
          </div>
          <div class="divider grid-x cell align-justify">
            <div class="cell shrink"><i class="fas fa-plane"></i></div>
            <div class="cell shrink"><i class="fas fa-plane"></i></div>
            <div class="cell shrink"><i class="fas fa-plane"></i></div>
            <div class="cell shrink"><i class="fas fa-plane"></i></div>
            <div class="cell shrink"><i class="fas fa-plane"></i></div>
            <div class="cell shrink"><i class="fas fa-plane"></i></div>
            <div class="cell shrink"><i class="fas fa-plane"></i></div>
            <div class="cell shrink"><i class="fas fa-plane"></i></div>
            <div class="cell shrink"><i class="fas fa-plane"></i></div>
            <div class="cell shrink"><i class="fas fa-plane"></i></div>
            <div class="cell shrink"><i class="fas fa-plane"></i></div>
            <div class="cell shrink"><i class="fas fa-plane"></i></div>
            <div class="cell shrink"><i class="fas fa-plane"></i></div>
          </div>
          <div class="grid-x cell data-area">
            <div class="grid-x cell align-justify">
              <div class="cell small-6 medium-shrink lockup-big">
                <p class="text-top">miles</p>
                <p class="number-big">54,047</p>
                <p class="text-bottom">2.2x around the world</p>
              </div>
              <div class="cell small-6 medium-shrink lockup-big">
                <p class="text-top">flights</p>
                <p class="number-big">15</p>
                <p class="text-bottom">5 long haul</p>
              </div>
              <div class="cell small-6 medium-shrink lockup-big">
                <p class="text-top">airports</p>
                <p class="number-big"><i class="fas fa-plane"></i> 7</p>
                <p class="text-bottom">9 flights at LAX</p>
              </div>
              <div class="cell small-6 medium-shrink lockup-big">
                <p class="text-top">countries</p>
                <p class="number-big"><i class="fas fa-globe"></i> 8</p>
                <p class="text-bottom">3 continents</p>
              </div>
              <div class="cell lockup-big auto medium-shrink">
                <p class="text-top">flight time</p>
                <p class="number-big"><i class="fas fa-clock"></i> 3d 14h</p>
                <p class="text-bottom">2h 51m of delays</p>
                <!-- As of Dec 29th -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>