<section class="website" id="website">
  <div class="grid-container">
    <div class="grid-x site-container">
      <div class="cell grid-x sub-section shrink title-section">
        <h2>v7 guava</h2>
        <h3>{%- include external-link.html link="https://rehanbutt.com" content="rehanbutt.com" css-class="" -%}</h3>
      </div>
      <div class="cell grid-x sub-section auto main-content">
        <div class="left cell medium-6 grid-x">
          <h4>Photography</h4>
          <p>Published a bunch of photos from my travel onto the site. Check out some of the first sets! Keep an eye out for more sets joining the party soon.</p>
          <a href="" class="cell grid-x align-justify">
            <div class="cell shrink name">
              Dubai Expo
            </div>
            <div class="cell shrink season">
              Spring 2022
            </div>
          </a>
        </div>
        <div class="right cell medium-6">
          images go here
        </div>
      </div>
      <div class="cell sub-section shrink by-numbers">
        <div class="title">
          <p>By the Numbers</p>
        </div>
        <div class="big-total">
          <p class="numb">1.4K</p>
          <p>Total site visits 2023</p>
        </div>
        <div class="busy-day">
          <p>July 28th</p>
          <p class="busy-label">Busiest Visit Day</p>
        </div>
        <div class="country-visits">
          <p class="country-label">Most page views by country</p>
          <!-- TODO get the real data for all of this -->
          {% assign country-list = "(🇺🇸|United States|1032),(🇨🇳|China|160),(🇩🇪|Germany|112)" | remove: "(" | remove: ")" | split: ',' %}

          {% for country in country-list %}
          {% assign each = country | split: '|' %}
          <div class="country-container grid-x">
            <div class="country-wrapper cell grid-x align-justify">
              <div class="left-section cell shrink">
                <p class="flag">{{each[0]}}</p>
                <p class="country-name">{{each[1]}}</p>
              </div>
              <div class="right-section cell shrink">
                <p class="number">{{each[2]}}</p>
              </div>
            </div>
          </div>
          {% endfor %}

        </div>
      </div>
    </div>
  </div>
</section>