.events{
  color: $pure-white;
  margin-top: 2rem;
  @include breakpoint(small only) {
    margin-top: 1rem;
  }
  .content-area{
    background-color: #0789FF;
    border-radius: $tile-radius-medium;
    @media (prefers-color-scheme: dark) {
      background-color: #09467f;
    }
  }
  .text-container{
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    @include breakpoint(small only) {
      padding-left: 1rem;
      padding-right: 1rem;
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
    }
  }
  h2{
    text-align: center;
    font-family: $lato;
    font-weight: $lato-black;
    font-size: 4rem;
    line-height: 1.2;
    @include breakpoint(small only) {
      font-size: 2rem;
    }
  }
  p{
    text-align: center;
    font-size: 2rem;
    font-weight: $lato-black;
    line-height: 1.2;
    margin: 0;
    padding: 0;
    color: rgba($pure-white, .70);
    @include breakpoint(small only) {
      font-size: 1rem;
    }
  }
  @mixin white-gradient {
    background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
  }
  
  $animationSpeed: 40s;
  
  // Animation
  @keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(-2000px)} //7 is the number of logos
  }
  .logo-slider {
    padding-bottom: 4rem;
    overflow:hidden;
    position: relative;
    background-color: initial;
    @include breakpoint(small only) {
      padding-bottom: 2rem;
    }
    
    .slide-track {
      animation: scroll $animationSpeed linear infinite;
      display: flex;
      width: 4000px;
    }
    .slide{
      margin: 0 2rem;
      min-width: 60px;
      @include breakpoint(small only) {
        margin: 0 1rem;
      }
      img{
        height: 120px;
        @include breakpoint(small only) {
          height: 80px;
        }
        @media (prefers-color-scheme: dark) {
          filter: none;
        }
      }
    }
  }
  .logo-container{
    z-index: 1;
    position: relative;
    .cell{
      img{
        max-width: 300px;
        @media (prefers-color-scheme: dark){
          filter: brightness(1000%) grayscale(80%);
        }
        &.ces{
          @media (prefers-color-scheme: dark){
            filter: brightness(240%) grayscale(80%);
          }
        }
        @include breakpoint(small only){
          width: 100%;
        }
      }
    }
    .leadership-design, .light-box, .view-conf{
      @include breakpoint(small only){
        text-align: center;
        img{
          width: 120px;
        }
      }
    }
  }
}