.farewell{
  margin-top: 2rem;
  .content-area{
    border-radius: $tile-radius-medium;
    background: url(/img/chocolate-square2.svg) round #994813;
    background-size: 10%;
    color: $pure-black;
    position: relative;
    @include breakpoint(small only){
      background-size: 25%;
    }
    .bite-marks{
      position: absolute;
      top: -1em;
      right: -1em;
      width: 14em;
      @include breakpoint(small only){
        width: 10em;
      }
      g{
        g{
          path{
            fill: white;
            @media (prefers-color-scheme: dark) {
              fill: $navy-black-d3;
            }
          }
        }
      }
    }
    .chocolate-bits{
      position: absolute;
      top: -2em;
      right: -2em;
      width: 12em;
      @include breakpoint(small only){
        width: 9em;
        top: -3em;
        right: -1em;
      }
      @media (prefers-color-scheme: dark){
        filter: none;
      }
    }
    .golden-ticket{
      position: absolute;
      background: url(../img/chocolate-wrapper.jpg);
      background-size: cover;
      width: 75%;
      padding: 5em;
      border-radius: $tile-radius-medium;
      margin-left: 1em;
      margin-top: 8em;
      transform: rotate(3deg);
      transition: $run;
      @include breakpoint(small only){
        padding: 1.5em;
      }
      &:hover{
        transform: rotate(-2deg) translate(6em, -3em) scale(1.2);
        transition: $run;
        box-shadow: $recessed-shadow;
        @include breakpoint(small only){
          transform: rotate(-2deg) translate(2em, -3em) scale(1.2);
        }
      }
      &:hover + .chocolate-wrapper{
        transition: $run;
        opacity: 0;
        transform: translate(-20em);
        @include breakpoint(small only){
          transform: translate(0, 20em);
        }
      }
      .text-line{
        border-radius: $pill-radius;
        background-color: black;
        height: 0.25em;
        @include breakpoint(small only){
          height: 1px;
        }
      }
      .line-text{
        padding-left: 2em;
        padding-right: 1em;
        margin: 0;
        font-family: $big-shoulders;
        text-transform: uppercase;
        line-height: 1;
        letter-spacing: 1em;
        @include breakpoint(small only){
          letter-spacing: 0.5em;
          padding-left: 1em;
          padding-right: 0.5em;
          font-size: 0.8em;
        }
      }
      .main-title{
        font-size: 6em;
        line-height: 1;
        text-align: center;
        padding: 0;
        margin: 0;
        font-family: $big-shoulders;
        margin-bottom: 0.25em;
        margin-top: 0.25em;
        @include breakpoint(small only){
          font-size: 2em;
        }
      }
      .main-text{
        text-align: center;
        @include breakpoint(small only){
          margin-top: 0.25em;
        }
        p{
          padding: 0;
          @include breakpoint(small only){
            margin-top: 0.25em;
            margin-bottom: 0.25em;
            font-size: 0.8em;
          }
          &:last-of-type{
            margin-bottom: 0;
          }
        }
      }
    }
    .chocolate-wrapper{
      border-radius: $tile-radius-medium 0 0 $tile-radius-medium;
      background-color: #FBBC17;
      background: url(../img/chocolate-wrapper.jpg);
      background-size: cover;
      position: relative;
      clip-path: polygon(0 0, 80% 0, 100% 100%, 0% 100%);
      @include breakpoint(small only){
        clip-path: polygon(0 5%, 100% 25%, 100% 100%, 0% 100%);
        border-radius: 0 0 $tile-radius-medium $tile-radius-medium;
      }
      transition: $run;
      .wrapper-edge{
        position: absolute;
        right: -0.5em;
        z-index: 1;
        top: -5%;
        height: 105%;
        transform: rotate(-3deg);
        img{
          height: 105%;
          @media (prefers-color-scheme: dark){
            filter: none;
          }
        }
        @include breakpoint(small only){
          right: 7.5em;
          z-index: 1;
          top: -15%;
          height: 60%;
          transform: rotate(-54deg);
        }
      }
      .intro-copy{
        padding: 2em;
        @include breakpoint(small only){
          padding: 1em;
          margin-top: 12em;
        }
        h2{
          font-family: $caveat;
          font-weight: $caveat-bold;
          font-size: 10em;
          line-height: 1;
          position: relative;
          display: inline-block;
          @include breakpoint(small only){
            font-size: 5em;
            padding: 0;
          }
          span{
            font-size: 0.15em;
            font-weight: $caveat-regular;
            text-transform: uppercase;
            position: absolute;
            left: 0;
            right: 0;
            top: 1em;
            text-align: center;
            letter-spacing: 0.10em;
            padding-inline-start: 3em;
          }
        }
        p{
          // font-size: 1.25em;
          padding: 0;
          margin: 0;
        }
        .friends{
          cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='50' height='60' viewport='0 0 100 100' style='fill:black;font-size:30px;'><text y='50%'>😸</text></svg>") 16 0,auto;
        }
      }
      .big-wins{
        margin-block-end: 2rem;
        @include breakpoint(small only){
          margin-block-end: 0;
        }
        .badge-wrapper{
          @include breakpoint(small only){
            display: none;
          }
        }
        .badge-sticker{
          width: 12em;
          transform: translate(-2em) rotate(-15deg);
          @media (prefers-color-scheme: dark){
            filter: none;
          }
        }
        .icon-wrapper{
          aspect-ratio: 1/1;
          border-radius: $pill-radius;
          background-color: #FFCD1D;
          border: 2px solid rgba($pure-black,0.075);
          width: 3em;
          text-align: center;
        }
        .win-list{
          @include breakpoint(small only){
            justify-content: center;
          }
          .win-item{
            @include breakpoint(small only){
              margin-bottom: 1.5em;
              font-weight: $lato-bold;
            } 
          }
        }
        .win-words{
          font-size: 0.8em;
          @include breakpoint(small only){
            font-size: 1em;
          }
        }
      }
      .bar-footer{
        font-family: $big-shoulders;
        border-radius: 0 0 0 $tile-radius-medium;
        background-color: rgba($pure-white,0.50);
        padding: 1em 2em;
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        font-weight: $big-shoulders-black;
        @include breakpoint(small only){
          border-radius: 0 0 $tile-radius-medium $tile-radius-medium;
        }
        .details{
          font-weight: $big-shoulders-regular;
          margin-inline-start: 0.25em;
        }
      }
    }
  }
}