$things-gradient: linear-gradient(90deg, rgba(253,187,45,1) 0%, rgba(34,193,195,1) 100%);
$things-gradient-dark: linear-gradient(90deg, rgb(184, 136, 34) 0%, rgb(26, 139, 141) 100%);
.favorite-things{
  margin-block-start: 5em;
  h2, h3{
    font-family: $montserrat;
    font-weight: $montserrat-black;
  }
  h2{
    margin-bottom: 0;
  }
  h3{
    font-size: 1.25em;
    margin-bottom: -1em;
    font-weight: $montserrat-bold;
    letter-spacing: 0.75em;
  }
  .row-pill{
    border-radius: $pill-radius;
    &.first-pill{
      background: $things-gradient;
      padding: 10px;
      @media (prefers-color-scheme: dark) {
        background: $things-gradient-dark;
      }
    }
    &.second-pill{
      background: $things-gradient;
      padding: 10px;
      @media (prefers-color-scheme: dark) {
        background: $things-gradient-dark;
      }
      .fake-border{
        background-color: semantic-color(page-bg);
        border-radius: $pill-radius;
        .text-pill{
          background-color: transparent;
        }
      }
    }
    .text-pill{
      border-radius: $pill-radius;
      background-color: rgba($pure-white, 0.75);
      @media (prefers-color-scheme: dark) {
        background-color: rgba($pure-black, 0.5);
      }
      padding: 1em 3em;
    }
    .thing-container{
      border-radius: $pill-radius;
      aspect-ratio: 1/1;
      background-color: cornflowerblue; //TODO semantic color
      width: 180px;
    }
  }
  .text-row{
    margin-block-start: 1em;
    margin-block-end: 1em;
    font-size: 1.25em;
    font-weight: $lato-bold;
    p{
      padding: 0;
      margin: 0;
    }
  }
}