.film-credit{
  margin-top: 10rem;
  @include breakpoint(small only) {
    margin-top: 1rem;
  }
  .content-area{
    border-radius: $tile-radius-medium;
    background: linear-gradient(125deg, rgba(22,63,114,1) 0%, rgba(43,127,160,1) 100%); //TODO semantic color
    padding: 2em;
    @include breakpoint(small only) {
      padding: 1em;
    }
    .poster-container{
      padding: 2em;
      .poster{
        border-radius: $tile-radius-medium;
        overflow: hidden;
        box-shadow: $recessed-shadow;
        transform: rotate(-10deg);
        margin-block-start: -10rem;
      }
    }
    .text-container{
      font-weight: $lato-bold;
      .wdas-logo{
        max-width: 15em;
      }
      .text-description{
        // margin-block-start: 1em;
        padding: 2em;
      }
    }
  }
}