.film-credit{
  margin-top: 14rem;
  @include breakpoint(small only) {
    margin-top: 1rem;
  }
  .content-area{
    border-radius: $tile-radius-medium;
    background: linear-gradient(to bottom right, rgba(22,63,114,1) 0%, rgba(43,127,160,1) 100%); //TODO semantic color
    position: relative;
    padding: 2em;
    &:before{
      content: ' ';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: url(../img/disney-film-posters.png);
      opacity: 0.1;
      background-blend-mode: overlay;
      background-position: center;
      background-size: 115%;
    }
    @include breakpoint(small only) {
      padding: 1em;
    }
    .poster-container{
      z-index: 2;
      padding: 2em;
      .poster{
        border-radius: $tile-radius-medium;
        overflow: hidden;
        box-shadow: $recessed-shadow;
        transform: rotate(-10deg);
        margin-block-start: -10rem;
      }
    }
    .text-container{
      z-index: 3;
      font-weight: $lato-bold;
      .wdas-logo{
        max-width: 15em;
      }
      .text-description{
        padding: 2em;
      }
    }
  }
}