.flights{
  color: $pure-white;
  margin-top: 2rem;
  @include breakpoint(small only) {
    margin-top: 1rem;
  }
  .content-area{
    border-radius: $tile-radius-medium;
    background: $pure-black;
    font-family: $big-shoulders;
    padding: 1rem;
    .title-area{
      margin-bottom: 0.5em;
      h2{
        font-family: $big-shoulders;
        font-weight: $big-shoulders-light;
        font-size: 2rem;
        text-transform: uppercase;
        margin-bottom: 0;
        @include breakpoint(small only) {
          font-size: 1.5rem;
          padding-left: 0.25em;
        }
      }
    }
    .data-area{
      border: solid 1px;
      border-radius: 10px;
      position: relative;
      overflow: hidden;
      @include breakpoint(small only) {
        div{
          z-index: 1;
        }
      }
      &::before{
        content: "";
        background-image: url(/img/planet.png);
        background-repeat: no-repeat;
        background-position: -30rem center;
        background-size: 100%;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        @include breakpoint(small only) {
          background-position: -25rem center;
          background-size: 200%;
          opacity: 0.5;
        }
      }
      p{
        padding: 0;
        margin: 0;
      }
      .border-left{
        border-left: solid 1px;
      }
      .border-bottom{
        border-bottom: solid 1px;
      }
      .border-top{
        border-top: solid 1px;
      }
      .lockup-big{
        text-transform: uppercase;
        padding: 1em;
        .number-big{
          font-size: 3em;
          font-weight: $big-shoulders-bold;
        }
        .text-top, .text-bottom{
          color: rgba($pure-white,0.5);
        }
        .text-top{
          font-size: 1.4em;
          margin-bottom: -0.75em;
        }
        .text-bottom{
          margin-top: -0.75em;
        }
      }
      .airport-row{
        padding: 0 1em;
        border-bottom: solid 1px rgba($pure-white,0.25);
        .short-code{
          padding-right: 0.5em;
          text-transform: uppercase;
          font-weight: $big-shoulders-bold;
        }
        .location-subrow{
          padding-left: 0.5em;
          color: rgba($pure-white,0.5);
          border-left: solid 1px rgba($pure-white,0.25);
        }
        .short-code, .location-subrow{
          padding-top: 0.25em;
          padding-bottom: 0.25em;
        }
      }
      .lockup-medium{
        text-transform: uppercase;
        padding: 1em;
        .text-top{
          margin-bottom: -0.5em;
          color: rgba($pure-white,0.5);
        }
        .number-big{
          font-size: 2em;
          font-weight: $big-shoulders-bold;
          text-transform: initial;
          i{
            font-size: 0.5em;
            vertical-align: middle;
          }
        }
      }
    }
  }
}