.travel{
  // color: $pure-white;
  margin-top: 2rem;
  @include breakpoint(small only) {
    margin-top: 1rem;
  }
  .content-area{
    border-radius: $tile-radius-medium;
    background: #31558B; //todo move to semantic color
    font-family: $big-shoulders;
    padding-left: 1rem;
    padding-right: 1rem;
    .page{
      background: url(../img/travel-pattern.png), linear-gradient(125deg, rgba(200,224,255,1) 0%, rgba(255,230,211,1) 100%); //todo move to semantic color
      background-blend-mode: multiply;
      border-radius: $tile-radius-medium;
      padding: 1rem;
    }
    .title-area{
      margin-bottom: 0.5em;
      h2{
        font-family: $lato;
        font-weight: $lato-bold;
        letter-spacing: 0.5em;
        font-size: 1.5rem;
        text-transform: uppercase;
        margin-bottom: 0;
        text-align: center;
      }
    }
    .data-area{
      p{
        padding: 0;
        margin: 0;
      }
      .lockup-big{
        text-transform: uppercase;
        padding: 1em;
        .number-big{
          font-size: 3em;
          font-weight: $big-shoulders-bold;
        }
        .text-top{
          font-size: 1.4em;
          margin-bottom: -0.75em;
        }
        .text-bottom{
          margin-top: -0.75em;
        }
      }
      .airport-row{
        padding: 0 1em;
        .short-code{
          padding-right: 0.5em;
          text-transform: uppercase;
          font-weight: $big-shoulders-bold;
        }
        .location-subrow{
          padding-left: 0.5em;
        }
        .short-code, .location-subrow{
          padding-top: 0.25em;
          padding-bottom: 0.25em;
        }
      }
      .lockup-medium{
        text-transform: uppercase;
        padding: 1em;
        .text-top{
          margin-bottom: -0.5em;
        }
        .number-big{
          font-size: 2em;
          font-weight: $big-shoulders-bold;
          text-transform: initial;
          i{
            font-size: 0.5em;
            vertical-align: middle;
          }
        }
      }
    }
  }
}