.flowstate{
  margin-top: 5rem;
  .content-area{
    position: relative;
    overflow: hidden;
    border-radius: $tile-radius-medium;
    background-color: semantic-color(flowstate-bg);
    padding-top: 3em;
    padding-bottom: 3em;
    .background-shapes{
      position: absolute;
      height: 150%;
      top: -25%;
      left: -15%;
    }
    .text-area{
      z-index: 2;
      padding-left: 3em;
      i{
        font-size: 2.5em;
      }
      h2{
        font-family: $big-shoulders;
        font-weight: $big-shoulders-black;
        line-height: 1;
      }
      p{
        padding: 0;
        margin: 0;
        margin-top: 1em;
        margin-bottom: 2em;
      }
      .flowstate-link{
        border-radius: $pill-radius;
        background-color: $flowstate-pink;
        padding: 0.5em 1em;
        color: white;
        font-weight: $lato-bold;
        transition: $sprint;
        &:hover{
          background-color: mix($pure-black, $flowstate-pink, 20%);
        }
      }
    }
    .image-area{
      padding-left: 3em;
      position: relative;
      img{
        border-radius: $tile-radius 0 0 $tile-radius;
        box-shadow: $pure-black $soft-shadow;
      }
    }
  }
}