header{
  border-radius: $tile-radius-medium;
  padding: 3rem;
  margin-block-start: 3rem;
  // color: semantic-color(header-content);
  // background: radial-gradient(circle at top left, rgba(102,255,246,1) 0%, rgba(169,101,255,1) 100%);
  // position: relative;
  font-family: $big-shoulders;
  font-weight: $big-shoulders-black;
  @include breakpoint(small only) {
    padding: 1rem;
  }
  @media (prefers-color-scheme: dark) {
    background: radial-gradient(circle at top left, rgb(73, 185, 177) 0%, rgb(106, 64, 162) 100%);
  }
  .title-area{
    // margin-bottom: 5rem;
    // @include breakpoint(small only) {
    //   margin-bottom: 3rem;
    // }
  }
  .subtitle{
    text-transform: uppercase;
    font-size: 1.5rem;
    @include breakpoint(small only) {
      font-size: 1rem;
    }
  }
  h1{
    font-family: $big-shoulders;
    font-weight: $big-shoulders-black;
    font-size: 50rem;
    span{
      // margin-inline-start: -10rem;
      text-align: center;
      background: radial-gradient(circle at top left, rgb(73, 185, 177) 0%, rgb(106, 64, 162) 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    // margin-bottom: -6rem;
    @include breakpoint(small only) {
      font-size: 9rem;
      margin-bottom: -2rem;
    }
  }
  .logo{
    #rehan-logo-header{
      height: 30px;
      transition: $sprint;
      &:hover{
        transform: scale(1.1);
      }
      g{
        // fill:semantic-color(header-content); //Changes the color of my logo inline
        fill: red;
      }
      @include breakpoint(small only){
        height: 22px;
      }
    }
  }
}