header{
  border-radius: $tile-radius-medium;
  padding: 3rem;
  margin-block-start: 3rem;
  font-family: $big-shoulders;
  font-weight: $big-shoulders-black;
  @include breakpoint(small only) {
    padding: 1rem;
  }
  // @media (prefers-color-scheme: dark) {
  //   background: radial-gradient(circle at top left, rgb(73, 185, 177) 0%, rgb(106, 64, 162) 100%);
  // }
  .number-container{
    margin-top: -10em; //TODO
    h1{
      justify-content: space-between;
      display: grid;
      grid-template-columns: repeat(auto-fit,  minmax(10px, max-content));
      margin-inline-start: -0.1em;
    }
  }
  .title-area{
    z-index: 2;
    color: semantic-color(text);
    // @include breakpoint(small only) {
    // }
  }
  .subtitle{
    text-transform: uppercase;
    font-size: 1.5rem;
    @include breakpoint(small only) {
      font-size: 1rem;
    }
  }
  h1{
    font-family: $big-shoulders;
    font-weight: $big-shoulders-black;
    // font-size: 80rem; //size needs to respond to the width of the window
    font-size: max(25vw, 60em); //TODO
    span{
      color: #BC2649;
      background: linear-gradient(90deg,rgb(188, 38, 73) 0%, rgb(141, 25, 52) 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    @include breakpoint(small only) {
      font-size: 9rem;
      margin-bottom: -2rem;
    }
  }
  .logo{
    #rehan-logo-header{
      height: 30px;
      transition: $sprint;
      &:hover{
        transform: scale(1.1);
      }
      g{
        fill:semantic-color(text); //Changes the color of my logo inline //TODO
      }
      @include breakpoint(small only){
        height: 22px;
      }
    }
  }
}