.leveled-up{
  overflow: hidden;
  margin-top: 2rem;
  padding: 2em;
  @include breakpoint(small only) {
    margin-top: 1rem;
  }
  @keyframes bob{
    0% {
      transform: rotate(2deg) translateY(0);
    }
    50% {
      transform: rotate(-2deg) translateY(-20px);
    }
    100% {
      transform: rotate(2deg) translateY(0);
    }
  }
  .bundle-container{
    transform-origin: top center;
    animation: bob 7s ease-in-out infinite paused;
    animation-play-state: running;
  }
  .text-container{
    p{
      text-align: left;
      font-size: 1.5em;
      line-height: 1.2;
      margin: 0;
      padding: 0;
      font-weight: $lato-bold;
      @include breakpoint(small only) {
        font-size: 1.25em;
      }
    }
  }
  @mixin balloon-color($color){
    background: $color;
    svg{
      path{
        fill: $color;
      }
    }
  }
  .balloon-container{
    text-align: center;
    margin-bottom: 2em;
    .balloon{
      $balloon-color: $pure-black;
      aspect-ratio: 1/1;
      background: $balloon-color;
      border-radius: $pill-radius;
      width: 10rem;
      color: white;
      font-size: 1em;
      position: relative;
      text-align: center;
      padding: 1em;
      line-height: 1.2;
      svg{
        position: absolute;
        bottom: -0.6em;
        path{
          fill: $balloon-color;
        }
      }
      &__1{
        rotate: -10deg;
        @include balloon-color(red);
        // #AAADFF
      }
    }
    .pill{
      font-size: 1em;
      color: $navy-black;
      background-color: rgba($navy-black, 0.5);
      border-radius: $pill-radius;
      font-weight: $lato-bold;
      @include breakpoint(small only) {
        font-size: 0.8em;
      }
      @media (prefers-color-scheme: dark) {
        color: $pure-white;
        background-color: rgba($navy-black-d3, 0.5);
      }
    }
  }
  .text-container{
    text-align: center;
    h2{
      font-family: $big-shoulders;
      font-weight: $big-shoulders-black;
      font-size: 10em;
      text-transform: uppercase;
      line-height: 0.8;
      @include breakpoint(small only) {
        font-size: 7em;
      }
      span{
        font-size: 0.25em;
        display: block;
        letter-spacing: 0.09em;
        margin-bottom: 0.15em;
      }
    }
  }
}