.leveled-up{
  overflow: hidden;
  margin-top: 2rem;
  @include breakpoint(small only) {
    margin-top: 1rem;
  }
  .skills-card{
    border-radius: $tile-radius-medium;
    position: relative;
    overflow: hidden;
    padding: 2em 2em 0 2em;
    box-shadow: inset 0px 0px 0px 5px rgba($pure-black, 0.1);
    @include breakpoint(small only) {
      padding: 1em 1em 0 1em;
    }
  }
  .pill-container{
    text-align: center;
    margin-bottom: 2em;
    @include breakpoint(small only) {
      justify-content: unset;
      margin-bottom: 2em;
    }
    .pill{
      font-size: 1em;
      color: $navy-black;
      background-color: rgba($pure-white, 0.5);
      border-radius: $pill-radius;
      font-weight: $lato-bold;
      display: inline-block;
      padding: 0.2em 0.8em;
      margin: 0.3em 0.25em;
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      @include breakpoint(small only) {
        font-size: 0.8em;
      }
      @media (prefers-color-scheme: dark) {
        color: $pure-white;
        background-color: rgba($navy-black-d3, 0.5);
      }
    }
  }
  .text-container{
    text-align: center;
    margin-top: 1em;
    h2{
      font-family: $big-shoulders;
      font-weight: $big-shoulders-black;
      font-size: 10em;
      text-transform: uppercase;
      line-height: 0.8;
      @include breakpoint(small only) {
        font-size: 7em;
      }
      span{
        font-size: 0.25em;
        display: block;
        letter-spacing: 0.09em;
        margin-bottom: 0.15em;
      }
    }
  }
}