.music{
  margin-top: 2rem;
  @include breakpoint(small only) {
    margin-top: 1rem;
  }
  .music-container{
    background-color: rgba($navy-black, .1);
    border-radius: $tile-radius-medium;
    padding: 2rem;
    @include breakpoint(small only) {
      padding: 1rem;
    }
    @media (prefers-color-scheme: dark) {
      background-color: $navy-black;
    }
  }
  h2{
    font-family: $montserrat;
    font-weight: $montserrat-black;
    font-size: 5rem;
    line-height: 4rem;
    margin-top: 0.1em;
    @include breakpoint(small only) {
      font-size: 3rem;
      line-height: 3rem;
      margin-top: 0.25em;
    }
    .hrs{
      font-weight: $montserrat-light;
    }
    .description{
      font-size: 3rem;
      display: block;
      @include breakpoint(small only) {
        font-size: 1.5rem;
      }
    }
  }
  h3{
    font-family: $montserrat;
    font-weight: $montserrat-bold;
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 1.5em;
    line-height: 1;
    @include breakpoint(small only) {
      text-align: left;
      margin-top: 0.5em;
      margin-bottom: 1.5em;
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }
  }
  .song-container{
    font-size: 0.8em;
    .album-cover-wrapper{
      max-width: 7em;
      .album-cover{
        aspect-ratio: 1/1;
      }
    }
    .song-tile{
      padding: 0.5rem 0;
      &:first-of-type{
        padding-top: 0;
      }
      &:last-of-type{
        padding-bottom: 0;
      }
      a{
        &:hover{
          .text-container{
            background-color: rgba($navy-black, .1);
            @media (prefers-color-scheme: dark) {
              background-color: rgba($navy-black-l1, 0.75);
            }
          }
        }
        img{
          border-radius: $tile-radius;
        }
        .text-container{
          margin-left: 0.5em;
          font-family: $montserrat;
          color: semantic-color(text);
          transition: $sprint;
          padding: 0 0.5rem;
          border-radius: $tile-radius;
          p{
            margin: 0;
            padding: 0;
            @include breakpoint(medium down) {
              font-size: 0.8em;
            }
            @include breakpoint(small only) {
              font-size: 1em;
            }
          }
          .title{
            font-weight: $montserrat-black;
            i{
              font-size: 0.75em;
            }
          }
          .artist{
            font-weight: $montserrat-bold;
            line-height: 1.2;
          }
          .play-count{
            font-weight: $montserrat-regular;
          }
        }
      }
    }
  }
}
