.photo{
  position: relative;
  margin-top: 2rem;
  .content-card{
    background-color: #E9E9E9;
    border-radius: $tile-radius-medium;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%); //For faux overflow hidden
    @media (prefers-color-scheme: dark) {
      background-color: $navy-black;
    }
  }
}

$windowBorder: 20px;

.plane-window{
  position: relative;
  border: 2px solid #CCCCCC;
  border-radius: $windowBorder / 1.5;
  overflow: hidden;
  @media (prefers-color-scheme: dark) {
    border-color: $navy-black-d4;
  }
  .window-shade{
    position: absolute;
    left: 0;
    top: -92%;
    width: 100%;
    height: 100%;
    padding: 2rem;
    box-sizing: border-box;
    border-radius: $windowBorder / 2;
    background: #eaeaea;
    box-shadow: 
      0 0 0 2px #CCCCCC,
      0 0 30px rgba(black,0.4);
    transition: 0.6s all ease-in-out;
    cursor: pointer;
    z-index: 1;
    @media (prefers-color-scheme: dark) {
      background: $navy-black-d1;
      box-shadow: 
      0 0 0 2px $navy-black-d4,
      0 0 30px rgba(black,0.4);
    }
    .cell{
      text-align: center;
    }
    
    &.closed{
      top: 0;
    }
    
    &:before {
      content: "";
      display: block;
      width: 16%;
      height: 6px;
      
      position: absolute;
      bottom: 12px;
      left: 50%;
      transform: translateX(-50%);
      
      border-radius: 4px;
      background-color: #bbbbbb;
      @media (prefers-color-scheme: dark) {
        background-color: $navy-black-l1;
      }
    }
    .photo-title, .photo-location{
      font-family: $lato;
      text-transform: uppercase;
      padding: 0;
      margin: 0;
      text-align: center;
      line-height: 1.2;
    }
    .photo-title{
      font-weight: $lato-black;
      font-size: 2em;
    }
    .photo-location{
      font-size: 1.25em;
    }
  }
  .window-glass{
    height: 20em;
    aspect-ratio: 4/3; //Fall back aspect ratio
    img{
      object-fit: contain;
      height: 100%;
    }
  }
}
.slide-panel{
  border-radius: $tile-radius-medium;
  overflow: hidden;
  background-color: $pure-white;
  height: 20em;
  @media (prefers-color-scheme: dark) {
    background-color: $pure-black; 
  }
  @include breakpoint(small only){
    font-size: 80%;
  }
  &.now-departing, &.now-arriving{
    background-color: unset;
    padding: 0;
    .title-text{
      text-align: center;
      margin-bottom: 1em;
      h2{
        font-family: $lato;
        text-transform: uppercase;
        font-weight: $lato-black;
        font-size: 3em;
      }
      i{
        font-size: 2.5em;
      }
    }
    .flipboard{
      p{
        margin: 0;
        padding: 0;
        line-height: 1;
      }
      .flip-item{
        background-color: #1A1A1A;
        padding: 0.5em;
        border-radius: $tile-radius;
        @media (prefers-color-scheme: dark) {
          background-color: #202020;
        }
        .flip-label{
          color: white;
          text-transform: uppercase;
          margin-bottom: 0.5em;
        }
        .flip-value{
          font-size: 1.5em;
          text-transform: uppercase;
          font-family: $source-code;
          font-weight: $source-code-bold;
        }
      }
    }
  }
}

.trigger {
  position: absolute;
  &--one {
    left: 0;
  }
}

 .scene {
    position: absolute;
    height: 100vh;
    top: 0;
    left: -14vw; //adjust for start position shift
    right: 0;
    &--active {
      position: fixed;
    }
    &--ended {
      position: absolute;
      bottom: 0;
      top: auto;
    }
  }

.horizontal-scroll-section {
  position: relative;
  &__content {
    display: flex;
    align-items: center;
    &-wrapper {
      display: flex;
      height: 100%;
      align-items: center;
      position: relative;
    }
    &-section {
      position: relative;
      padding: 2rem;
      // min-width: 40rem;
      background: #DEDEDE;
      border: 2px solid #CCCCCC;
      border-radius: 50px;
      margin-right: 1rem;
      margin-left: 1rem;
      @media (prefers-color-scheme: dark) {
        background: $navy-black-d3;
        border-color: $navy-black-d4;
      }
      &:first-of-type, &:last-of-type{
        min-width: 20rem;
        background: none;
        border: none;
      }
      @include breakpoint(small only) {
        padding: 0.5rem;
        border-radius: 30px;
      }
      // is this before thing needed
      // &:before{
      //   position: absolute;
      //   content: '';
      //   z-index: -1;
      //   top: 0;
      //   bottom: 0;
      //   left: 0;
      //   right: 0;
      // }
    }
  }
}

.departing, .arriving{
  background-color: #232323;
  color: #E0C200;
  border: none;
  min-width: 30em;
  @media (prefers-color-scheme: dark) {
    background-color: #151515;
  }
  @include breakpoint(small only) {
    min-width: 25em;
  }
}

.mickey-epcot{
  fill: $navy-black;
  width: 1.5em;
  @media (prefers-color-scheme: dark) {
    fill: $pure-white;
  }
}