.travel{
  // color: $pure-white;
  margin-top: 2rem;
  @include breakpoint(small only) {
    margin-top: 1rem;
  }
  .content-area{
    border-radius: $tile-radius-medium;
    background: #31558B; //TODO move to semantic color
    font-family: $big-shoulders;
    padding-left: 1rem;
    padding-right: 1rem;
    .page{
      background: url(../img/travel-pattern.png), linear-gradient(125deg, rgba(200,224,255,1) 0%, rgba(255,230,211,1) 100%); //TODO move to semantic color
      background-blend-mode: multiply;
      border-radius: $tile-radius-medium;
      padding: 1rem;
    }
    .title-area{
      margin-bottom: 0.5em;
      h2{
        font-family: $lato;
        font-weight: $lato-bold;
        letter-spacing: 0.5em;
        font-size: 1.5rem;
        text-transform: uppercase;
        margin-bottom: 0;
        text-align: center;
      }
    }
    .stamp-area{
      display: grid;
      grid-template-columns: repeat(14, auto);
      grid-template-rows: repeat(5, auto);
      gap: 1em;
      padding: 1em;
      .stamp{
        // max-width: 10em;
      }
      .stamp-dc{
        grid-column: 1/3;
        grid-row: 1/3;
        img{
          rotate: -10deg;
          scale: 1.15;
        }
      }
      .stamp-chicago{
        grid-column: 2/4;
        grid-row: 3/5;
        img{
          rotate: 15deg;
          scale: 1.15;
          cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='50' height='60' viewport='0 0 100 100' style='fill:black;font-size:30px;'><text y='50%'>🐱</text></svg>") 16 0, auto;
        }
      }
      .stamp-la{
        grid-column: 3/5;
        grid-row: 5/6;
        img{
          rotate: -8deg;
        }
      }
      .stamp-nyc{
        grid-column: 4/6;
        grid-row: 2/4;
        img{
          rotate: -8deg;
        }
      }
      .stamp-pittsburgh{
        grid-column: 5/8;
        grid-row: 4/6;
        img{
          rotate: 8deg;
        }
      }
      .stamp-colmar{
        grid-column: 8/11;
        grid-row: 1/2;
        img{
          rotate: 12deg;
          scale: 1.15;
        }
      }
      .stamp-schwangau{
        grid-column: 9/12;
        grid-row: 4/6;
        img{
          rotate: -12deg;
          scale: .90;
        }
      }
      .stamp-montreux{
        grid-column: 11/14;
        grid-row: 2/4;
        img{
          rotate: -10deg;
          scale: .90;
        }
      }
      .stamp-zurich{
        grid-column: 7/9;
        grid-row: 2/4;
        img{
          rotate: 8deg;
        }
      }
      .stamp-doha{
        grid-column: 12/15;
        grid-row: 4/6;
        img{
          rotate: 6deg;
        }
      }
    }
    .data-area{
      p{
        padding: 0;
        margin: 0;
      }
      .lockup-big{
        text-transform: uppercase;
        padding: 1em;
        .number-big{
          font-size: 3em;
          font-weight: $big-shoulders-bold;
          i{
            font-size: 0.5em;
            vertical-align: middle;
          }
        }
        .text-top{
          font-size: 1.4em;
          margin-bottom: -0.75em;
        }
        .text-bottom{
          margin-top: -0.75em;
        }
      }
      .airport-row{
        padding: 0 1em;
        .short-code{
          padding-right: 0.5em;
          text-transform: uppercase;
          font-weight: $big-shoulders-bold;
        }
        .location-subrow{
          padding-left: 0.5em;
        }
        .short-code, .location-subrow{
          padding-top: 0.25em;
          padding-bottom: 0.25em;
        }
      }
      // TODO check if I still need this
      // .lockup-medium{
      //   text-transform: uppercase;
      //   padding: 1em;
      //   .text-top{
      //     margin-bottom: -0.5em;
      //   }
      //   .number-big{
      //     font-size: 2em;
      //     font-weight: $big-shoulders-bold;
      //     text-transform: initial;
      //     i{
      //       font-size: 0.5em;
      //       vertical-align: middle;
      //     }
      //   }
      // }
    }
  }
}